[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/FJdarc/glfw

[submodule "vendor/export-compile-commands"]
	path = vendor/export-compile-commands
	url = https://github.com/FJdarc/premake-export-compile-commands
[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = https://github.com/FJdarc/imgui
